@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1995AD;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #1995AD;
}

input[type="checkbox"] {
  accent-color: #1995AD;
}

.applied-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
